.section__developer {
  position: relative;
  display: fixed;
  background-image: linear-gradient(rgba(255, 255, 255, 0.92), rgba(240, 241, 252, 0.93), rgba(230, 239, 251, 0.98)), url("https://data.whicdn.com/images/303133698/original.gif");
  background-position: center;
  height: auto;
  padding-top: 50px; }

.developer__outer {
  height: auto; }

.developer__sidebar {
  border-radius: 30px;
  background-image: linear-gradient(rgba(19, 175, 7, 0.1), rgba(255, 255, 255, 0.2));
  height: 600px;
  display: flex;
  padding: 15px 0 80px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.developer__main {
  height: auto;
  padding-top: 0; }

.developer__skills--title {
  margin: 20px 0 15px;
  border: 1px solid black;
  border-radius: 10px 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(47, 164, 195, 0.5));
  width: 100px;
  padding: 5px 0;
  font-family: "Acme", sans-serif;
  text-align: center;
  text-decoration: none; }

.developer__inner--skills {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 20px; }

.developer__inner--skills-others {
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px 40px; }

.skills__outer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .skills__outer:hover .skills__inner--stars {
    display: block; }

.skills__text {
  margin-bottom: 5px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: black; }

.skills__text--others {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: black; }

.skills__inner--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  width: 60px; }

.skills__inner--icon-others {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 40px; }

.skills__icon {
  height: 100%;
  font-size: 3.5rem; }
  .skills__icon.icon--react {
    height: 60px; }
  .skills__icon.icon--sass {
    height: auto;
    width: 100%;
    color: #c41717;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.53); }

.skills__icon--others {
  font-size: 3rem; }
  .skills__icon--others.icon--zeplin {
    height: auto;
    width: 60px; }
  .skills__icon--others.icon--npm {
    height: auto;
    width: 60px;
    color: #c41717;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.53); }
  .skills__icon--others.icon--gulp {
    margin: 3px 0 -3px;
    color: #c41717;
    text-shadow: 0 0 1px rgba(50, 50, 50, 0.3); }
  .skills__icon--others.icon--node {
    margin: 3px 0 -3px;
    color: #32d269;
    text-shadow: 0 0 1px rgba(50, 50, 50, 0.3); }
  .skills__icon--others.icon--github {
    margin-top: 5px;
    height: 58px;
    width: 55px; }
  .skills__icon--others.icon--bootstrap {
    height: 50px;
    width: 50px; }

.icon--react {
  color: #51b8cf;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.53);
  animation: App-logo-spin infinite 40s linear; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.skills__inner--stars {
  position: absolute;
  display: none;
  margin-top: 5px; }

.icon--star {
  border-radius: 50%;
  box-shadow: 0 0 5px 2px white;
  background: black;
  height: 20px;
  width: 20px;
  padding-top: 5px;
  text-align: center;
  font-size: 0.8rem;
  text-shadow: 0 0 5px black;
  color: #e8e781; }

.icon--star--others {
  background: black;
  height: 15px;
  width: 15px;
  font-size: 0.6rem;
  line-height: 0.6; }

.developer__formation,
.developer__projects {
  margin-left: 30px;
  height: auto; }

.developer__projects {
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.developer__adalab--logo {
  margin: 0 0 2px 5px;
  width: 130px;
  vertical-align: middle; }

.developer__adalab--text,
.developer__projects--text {
  margin: 10px 30px 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify; }

.developer__adalab--title,
.developer__projects--title {
  position: relative;
  margin: 0 0 15px;
  border: 1px solid white;
  border-radius: 20px 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(47, 164, 195, 0.5));
  height: 70px;
  width: 100%;
  padding: 12px 0 10px 30px;
  font-family: "Corben", cursive;
  font-size: 2rem;
  text-align: left;
  text-decoration: none; }

.developer--more {
  position: absolute;
  bottom: 25px;
  right: 30px;
  font-family: "Acme", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #3e76c1;
  text-shadow: 0 0 2px white;
  cursor: default; }
  .developer--more:hover {
    color: #949632; }
