.section__experiences {
  z-index: 3;
  position: absolute;
  bottom: 50px;
  left: 20%;
  border: 1px solid #212121;
  border-radius: 10px 0;
  background-image: linear-gradient(to top right, #f6f6f6, #e6f4f4, #4681d0);
  height: 40px;
  width: 60px;
  box-shadow: 0 4px 5px 0 rgba(33, 33, 33, 0.4), inset 0 1px 5px 1px rgba(246, 246, 246, 0.7);
  opacity: 0.5;
  transform: perspective(5em) rotateX(50deg);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer; }
  .section__experiences:hover {
    border: 3px solid #ebe101;
    opacity: 0.7; }
  @media all and (min-width: 768px) {
    .section__experiences {
      left: 40%; } }
  .section__experiences.opened {
    border-radius: 40px 0;
    border: 2px solid #212121;
    top: 40px;
    left: 0;
    height: 90vh;
    width: 100vw;
    padding: 5px;
    transform: none;
    opacity: 0.9;
    cursor: default; }
    .section__experiences.opened:hover {
      border: 2px solid #212121; }
    @media all and (min-width: 768px) {
      .section__experiences.opened {
        left: 20vw;
        height: 90vh;
        width: 75vw;
        padding: 15px; } }

.experiences__text-fake {
  line-height: 0.8;
  font-size: 0.9rem;
  text-align: center;
  width: 100%; }

.experiences__outer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 auto;
  height: 100%;
  width: 100%; }

.experiences__inner {
  height: 100%; }
  .experiences__inner:last-of-type {
    width: 100%; }

.experiences__inner--year {
  margin-right: 5px;
  width: 40px;
  text-align: center;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 0.8em;
  color: #630808; }
  @media all and (min-width: 321px) {
    .experiences__inner--year {
      margin-right: 10px;
      width: 60px;
      font-size: 1.2em; } }
  @media all and (min-width: 768px) {
    .experiences__inner--year {
      width: 60px;
      margin-right: 15px; } }

.experiences__verticalBar {
  border-right: 5px solid rgba(70, 129, 208, 0.3);
  height: 80vh; }
  @media all and (min-width: 768px) {
    .experiences__verticalBar {
      height: 85vh; } }

.experiences__inner--horizontalBar,
.experiences__inner--year {
  margin-top: 50px;
  height: 25%; }
  .experiences__inner--horizontalBar:first-of-type,
  .experiences__inner--year:first-of-type {
    margin-top: 35px; }
  .experiences__inner--horizontalBar:last-of-type,
  .experiences__inner--year:last-of-type {
    margin-top: 10px; }
  @media all and (min-width: 321px) {
    .experiences__inner--horizontalBar,
    .experiences__inner--year {
      margin-top: 25px; }
      .experiences__inner--horizontalBar:first-of-type,
      .experiences__inner--year:first-of-type {
        margin-top: 60px; }
      .experiences__inner--horizontalBar:last-of-type,
      .experiences__inner--year:last-of-type {
        margin-top: 10px; } }
  @media all and (min-width: 768px) {
    .experiences__inner--horizontalBar,
    .experiences__inner--year {
      margin-top: 40px; } }

.experiences__horizontarBar-adalab,
.experiences__horizontarBar-ir,
.experiences__horizontarBar-master,
.experiences__horizontarBar-psy {
  display: inline-block;
  border-top: 5px solid rgba(70, 129, 208, 0.3); }

.experiences__horizontarBar-psy {
  width: 10%; }

.experiences__horizontarBar-ir {
  width: 10%; }
  @media all and (min-width: 768px) {
    .experiences__horizontarBar-ir {
      width: 30%; } }

.experiences__horizontarBar-master {
  width: 10%; }
  @media all and (min-width: 768px) {
    .experiences__horizontarBar-master {
      width: 30%; } }

.experiences__title {
  margin-left: 20px;
  display: inline;
  font-family: "Acme", sans-serif;
  font-size: 1rem;
  color: #054187; }
  .experiences__title:hover {
    letter-spacing: 0.1rem;
    color: #949632; }
  @media all and (min-width: 321px) {
    .experiences__title {
      font-size: 1.4rem; } }

.experiences__details {
  margin: 5px 10px;
  font-family: "Corben", cursive;
  font-size: 0.9rem;
  line-height: 1; }
  @media all and (min-width: 768px) {
    .experiences__details {
      font-size: 1rem;
      line-height: 2; } }

.experiences__flag {
  margin-left: 5px;
  vertical-align: middle; }

.experiences__more {
  position: absolute;
  bottom: 5px;
  right: 35px;
  font-size: 0.8rem; }
  @media all and (min-width: 321px) {
    .experiences__more {
      bottom: 15px;
      font-size: 1rem; } }

.experiences__social--link {
  margin-left: 5px;
  vertical-align: super; }
