$font__title: 'Alegreya Sans SC', sans-serif;
$font__title-alt: 'Acme', sans-serif;
$font__subtitle: 'Corben', cursive;
$green-bright: #32d269;
$green-pale: #c0d0c4;
$blue--dark: #054187;
$blue--normal: #157FFB;
$blue--light: #4681d0;
$blue-water: #2fa4c3;
$yellow--dark: #949632;
$yellow--bright: #ebe101;
$yellow--pale: #fdff9f;
$red--dark: #630808;
$red--bright: #c41717;
$black: #212121;
$gray-dark: #535353;
$gray-normal: #868686;
$white: #f6f6f6;

.section__formation {
	height             : 100vh;
	position           : relative;
	display            : fixed;
	background-image   : linear-gradient(rgba(#e6effb, 0.98),rgba(#e6effb, 0.93),rgba(#bdd6f6, 0.98)), url('https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/sea.gif');
	background-position: center;
}

.formation__outer {
	display        : flex;
	align-items    : flex-end;
	justify-content: flex-start;
	margin         : 0 auto;
	height         : auto;
	width          : 80vw;
}

.formation__inner {
	height: auto;
}

.formation__inner--year {
	margin-right: 15px;
	width       : 40px;
	text-align  : center;
	font-family : $font__title;
	font-size   : 1.2em;
	color       : $red--dark;
}

.formation__verticalBar {
	border-right: 5px solid rgba($blue--light, 0.3);
	height      : 90vh;
}

.formation__inner--horizontalBar,
.formation__inner--year {
	height: 130px;
}

.formation__horizontarBar-adalab,
.formation__horizontarBar-ir,
.formation__horizontarBar-master,
.formation__horizontarBar-psy {
	display   : inline-block;
	border-top: 5px solid rgba($blue--light, 0.3);
}

.formation__horizontarBar-psy {
	width: 20px;

	@media all and (min-width: 768px) {
		width     : 0;
		transition: width ease 2s;

		&.comeIn {
			width: 15vw;
		}
	}
}

.formation__horizontarBar-ir {
	width: 20px;

	@media all and (min-width: 768px) {
		width     : 0;
		transition: width ease 2s;

		&.comeIn {
			width: 30vw;
		}
	}
}

.formation__horizontarBar-master {
	width: 20px;

	@media all and (min-width: 768px) {
		width     : 0;
		transition: width ease 2s;

		&.comeIn {
			width: 45vw;
		}
	}
}

.formation__horizontarBar-adalab {
	width: 20px;

	@media all and (min-width: 768px) {
		width     : 0;
		transition: width ease 2s;

		&.comeIn {
			width: 60vw;
		}
	}
}

.formation__title {
	margin-left: 20px;
	display    : inline;
	font-family: $font__title-alt;
	font-size  : 1.4em;
	color      : $blue--dark;

	&:hover {
		letter-spacing: 0.1rem;
		color         : $yellow--dark;
	}
}

.formation__title-adalab,
.formation__title-ir,
.formation__title-master,
.formation__title-psy {

	@media all and (min-width: 768px) {
		opacity   : 0;
		transition: opacity ease 2s;

		&.comeIn {
			opacity: 1;
		}
	}
}

.formation__details {
	//visibility : hidden;
	margin-left: 10px;
	font-family: $font__subtitle;
	font-size  : 1rem;
}

.formation__details-ir,
.formation__details-master,
.formation__details-psy {

	@media all and (min-width: 768px) {
		opacity   : 0;
		transition: opacity ease 2s;

		&.comeIn {
			opacity: 1;
		}
	}
}

.formation__flag {
	margin-left   : 5px;
	vertical-align: middle;
}
