.section__formation {
  height: 100vh;
  position: relative;
  display: fixed;
  background-image: linear-gradient(rgba(230, 239, 251, 0.98), rgba(230, 239, 251, 0.93), rgba(189, 214, 246, 0.98)), url("https://data.whicdn.com/images/303133698/original.gif");
  background-position: center; }

.formation__outer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 auto;
  height: auto;
  width: 80vw; }

.formation__inner {
  height: auto; }

.formation__inner--year {
  margin-right: 15px;
  width: 40px;
  text-align: center;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.2em;
  color: #4b0a62; }

.formation__verticalBar {
  border-right: 5px solid #2b2f59;
  height: 90vh; }

.formation__inner--horizontalBar,
.formation__inner--year {
  height: 130px; }

.formation__horizontarBar-adalab,
.formation__horizontarBar-ir,
.formation__horizontarBar-master,
.formation__horizontarBar-psy {
  display: inline-block;
  border-top: 5px solid #2b2f59; }

.formation__horizontarBar-psy {
  width: 20px; }
  @media all and (min-width: 768px) {
    .formation__horizontarBar-psy {
      width: 0;
      transition: width ease 2s; }
      .formation__horizontarBar-psy.comeIn {
        width: 15vw; } }

.formation__horizontarBar-ir {
  width: 20px; }
  @media all and (min-width: 768px) {
    .formation__horizontarBar-ir {
      width: 0;
      transition: width ease 2s; }
      .formation__horizontarBar-ir.comeIn {
        width: 30vw; } }

.formation__horizontarBar-master {
  width: 20px; }
  @media all and (min-width: 768px) {
    .formation__horizontarBar-master {
      width: 0;
      transition: width ease 2s; }
      .formation__horizontarBar-master.comeIn {
        width: 45vw; } }

.formation__horizontarBar-adalab {
  width: 20px; }
  @media all and (min-width: 768px) {
    .formation__horizontarBar-adalab {
      width: 0;
      transition: width ease 2s; }
      .formation__horizontarBar-adalab.comeIn {
        width: 60vw; } }

.formation__title {
  margin-left: 20px;
  display: inline;
  font-family: "Acme", sans-serif;
  font-size: 1.4em;
  color: #3e76c1; }
  .formation__title:hover {
    letter-spacing: 0.1rem;
    color: #4681d0; }

@media all and (min-width: 768px) {
  .formation__title-adalab,
  .formation__title-ir,
  .formation__title-master,
  .formation__title-psy {
    opacity: 0;
    transition: opacity ease 2s; }
    .formation__title-adalab.comeIn,
    .formation__title-ir.comeIn,
    .formation__title-master.comeIn,
    .formation__title-psy.comeIn {
      opacity: 1; } }

.formation__details {
  margin-left: 10px;
  font-family: "Corben", cursive;
  font-size: 1rem; }

@media all and (min-width: 768px) {
  .formation__details-ir,
  .formation__details-master,
  .formation__details-psy {
    opacity: 0;
    transition: opacity ease 2s; }
    .formation__details-ir.comeIn,
    .formation__details-master.comeIn,
    .formation__details-psy.comeIn {
      opacity: 1; } }

.formation__flag {
  margin-left: 5px;
  vertical-align: middle; }
