$font__title: 'Alegreya Sans SC', sans-serif;
$font__title-alt: 'Acme', sans-serif;
$font__subtitle: 'Corben', cursive;

.header__outer {
	z-index         : 2;
	position        : fixed;
	top             : 0;
	left            : 0;
	display         : flex;
	align-items     : center;
	justify-content : space-around;
	flex-wrap       : wrap;
	height          : 40px;
	width           : 100vw;
	padding         : 0 80px;
	background-image: linear-gradient(rgb(175, 165, 185),rgba(255, 255, 255, 0.8));

	@media all and (min-width: 500px) {
		flex-wrap: nowrap;
	}
}

.header__inner {
	min-width : 250px;
	text-align: center;
}

.header__inner--languages {
	order : 3;
	height: 20px;
	@media all and (min-width: 500px) {
		order: 1;
	}
}

.header__inner--title {
	order : 1;
	height: 20px;
	@media all and (min-width: 500px) {
		order: 2;
	}
}

.header__inner--version {
	order    : 2;
	position : fixed;
	bottom   : 0;
	height   : 20px;
	font-size: 0.7rem;

	@media all and (min-width: 500px) {
		order    : 3;
		position : static;
		font-size: 1rem;
	}
}

.header__flags {
	margin : 0 10px;
	opacity: 0.3;
	cursor : pointer;
}

.header__flags--active {
	opacity: 1;
	cursor : default;
}

.header__text {
	font-family: $font__title;
}

.header__text-contact {
	font-family: $font__subtitle;
	font-weight: bold;

}
