$font__title: 'Alegreya Sans SC', sans-serif;
$font__title-alt: 'Acme', sans-serif;
$font__subtitle: 'Corben', cursive;

.header__outer {
	z-index         : 2;
	position        : fixed;
	top             : 0;
	left            : 0;
	display         : flex;
	align-items     : center;
	justify-content : space-around;
	height          : 40px;
	width           : 100vw;
	padding         : 0 80px;
	background-image: linear-gradient(rgb(175, 165, 185),rgba(255, 255, 255, 0.8));
}

.header__inner {
	min-width : 250px;
	text-align: center;
}

.header__flags {
	margin : 0 10px;
	opacity: 0.3;
	cursor : pointer;
}

.header__flags--active {
	opacity: 1;
	cursor : default;
}

.header__text {}

.header__text-contact {
	font-family: $font__subtitle;
	font-weight: bold;

}
