.header__outer {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 100vw;
  padding: 0 80px;
  background-image: linear-gradient(#afa5b9, rgba(255, 255, 255, 0.8)); }

.header__inner {
  min-width: 250px;
  text-align: center; }

.header__flags {
  margin: 0 10px;
  opacity: 0.3; }

.header__flags--active {
  opacity: 1; }

.header__text-contact {
  font-family: "Corben", cursive;
  font-weight: bold; }
