$font__title: 'Alegreya Sans SC', sans-serif;
$font__title-alt: 'Acme', sans-serif;
$font__subtitle: 'Corben', cursive;
$green-bright: #32d269;
$green-pale: #c0d0c4;
$blue--dark: #054187;
$blue--normal: #157FFB;
$blue--light: #4681d0;
$yellow--dark: #949632;
$yellow--bright: #ebe101;
$yellow--pale: #fdff9f;
$red--dark: #630808;
$red--bright: #c41717;
$black: #212121;
$gray-dark: #535353;
$gray-normal: #868686;
$white: #f6f6f6;

.header__outer {
	z-index         : 2;
	position        : fixed;
	top             : 0;
	left            : 0;
	display         : flex;
	align-items     : center;
	justify-content : space-around;
	flex-wrap       : wrap;
	height          : 40px;
	width           : 100vw;
	padding         : 0 80px;
	background-image: linear-gradient(#afa5b9,rgba(#ffffff, 0.8));

	@media all and (min-width: 500px) {
		flex-wrap: nowrap;
	}
}

.header__inner {
	min-width : 250px;
	text-align: center;
}

.header__inner--languages {
	order : 3;
	height: 20px;
	@media all and (min-width: 500px) {
		order: 1;
	}
}

.header__inner--title {
	order : 1;
	height: 20px;
	@media all and (min-width: 500px) {
		order: 2;
	}
}

.header__inner--version {
	order    : 2;
	position : fixed;
	bottom   : 0;
	height   : 20px;
	font-size: 0.7rem;

	@media all and (min-width: 500px) {
		order    : 3;
		position : static;
		font-size: 1rem;
	}
}

.header__flags {
	margin : 0 10px;
	opacity: 0.3;
	cursor : pointer;
}

.header__flags--active {
	opacity: 1;
	cursor : default;
}

.header__text {
	font-family: $font__title;
}

.header__text-contact {
	font-family: $font__subtitle;
	font-weight: bold;
}
