.section__hero {
  margin-top: 50px;
  height: 100vh;
  width: 100vw; }
  @media all and (min-width: 500px) {
    .section__hero {
      margin-top: 100px; } }

.hero__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto; }
  @media all and (min-width: 500px) {
    .hero__container {
      width: 90%; } }

.hero__photoAndName {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%; }
  @media all and (min-width: 500px) {
    .hero__photoAndName {
      width: 75%; } }

.main__intro {
  position: relative;
  margin: 20px 0 0;
  height: 100vh;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url("https://raw.githubusercontent.com/annabranco/my-profile/mediaqueries/src/images/bg/sea.gif");
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  @media all and (min-width: 500px) {
    .main__intro {
      background-image: linear-gradient(white, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7)), url("https://raw.githubusercontent.com/annabranco/my-profile/mediaqueries/src/images/bg/sea.gif"); } }

.hero__photo--container {
  height: 170px;
  width: 100%;
  padding-right: 5px; }
  @media all and (min-width: 500px) {
    .hero__photo--container {
      height: 400px;
      width: 30%; } }

.hero__id--container {
  height: 230px;
  width: 100%;
  padding: 10px 20px; }
  @media all and (min-width: 500px) {
    .hero__id--container {
      height: 400px;
      width: 70%; } }

.hero__social--container {
  height: 400px;
  width: 55%; }
  @media all and (min-width: 321px) {
    .hero__social--container {
      width: 50%; } }
  @media all and (min-width: 500px) {
    .hero__social--container {
      width: 25%; } }

.hero__photo {
  height: 500px; }

.hero__mugshot {
  width: 100%; }

.hero__id {
  height: 100px; }
  @media all and (min-width: 500px) {
    .hero__id {
      height: 200px; } }

.hero__name {
  background-image: url("https://raw.githubusercontent.com/annabranco/my-profile/mediaqueries/src/images/other/bg-binary.jpg");
  background-size: contain;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 3rem;
  font-weight: 900; }
  @media all and (min-width: 768px) {
    .hero__name {
      font-size: 4rem; } }
  @media all and (min-width: 1024px) {
    .hero__name {
      font-size: 5rem; } }

.hero__name--devices {
  margin: 5px 0;
  display: block;
  text-align: center; }
  @media all and (min-width: 500px) {
    .hero__name--devices {
      display: none; } }

.hero__name--desktop {
  display: none; }
  @media all and (min-width: 500px) {
    .hero__name--desktop {
      display: block; } }

/* OPTIONS OF BG

background-image       : url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ruoEhTkNeiwq2lefr/videoblocks-abstract-matrix-background-binary-computer-code-coding-and-hacker-concept-tech-background-4k-animation_btu47n5jb_thumbnail-full06.png');
background-size        : contain;

background-image       : url('https://images3.alphacoders.com/279/279465.jpg');
background-size        : contain;

background-image       : url('https://images3.alphacoders.com/279/279465.jpg');
background-size        : cover;
background-position    : center;

background-image       : url('https://images.pond5.com/green-loopable-it-background-glowing-footage-000878726_prevstill.jpeg');
background-size        : cover;
*/
.hero__job {
  margin-top: -30px;
  margin-left: -25px;
  width: 42vw;
  text-align: center;
  font-family: "Corben", cursive;
  font-size: 1.3rem; }
  @media all and (min-width: 321px) {
    .hero__job {
      margin-top: 0;
      font-size: 1.5rem; } }
  @media all and (min-width: 500px) {
    .hero__job {
      margin-left: 0;
      width: auto;
      text-align: left;
      font-size: 2rem; } }

.hero__boat {
  position: absolute;
  top: 40%;
  transform: translate(-50%, 0);
  filter: saturate(0.5) brightness(1.8) contrast(30%) opacity(0.2);
  width: 100px;
  animation-name: navigating;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }
  @media all and (min-width: 768px) {
    .hero__boat {
      top: 30%;
      filter: saturate(0.5) brightness(1.8) contrast(30%) opacity(0.2); } }

@keyframes navigating {
  0% {
    right: 10vw;
    opacity: 0; }
  35% {
    opacity: 1; }
  50% {
    opacity: 1; }
  70% {
    right: 60vw;
    opacity: 0; }
  100% {
    right: 110vw;
    opacity: 0; } }

.hero__aditional {
  margin: -20px 0 0;
  width: 90%;
  text-align: center;
  font-family: "Corben", cursive;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.5;
  color: #7280c9; }
  @media all and (min-width: 500px) {
    .hero__aditional {
      margin: -40px 0 0 20px;
      width: 80%;
      font-size: 1.2rem;
      height: 200px;
      text-align: left; } }

.hero__advise {
  margin-top: -20px;
  background: rgba(212, 224, 68, 0.3);
  width: 100%;
  padding: 5px 15px;
  font-family: "Corben", cursive;
  font-size: 0.9rem;
  text-align: center; }
  @media all and (min-width: 768px) {
    .hero__advise {
      margin-top: 40px; } }
  @media all and (min-width: 1200px) {
    .hero__advise {
      display: none; } }

.hero__scrollDown {
  z-index: 3;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media all and (min-width: 768px) {
    .hero__scrollDown {
      margin-top: 80px; } }

.hero__scrollDown-inner {
  display: flex;
  align-items: center;
  justify-content: center; }

.scroll-icon {
  margin: 0 20px;
  font-size: 3rem;
  color: rgba(184, 211, 224, 0.55);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  opacity: 0;
  animation-fill-mode: forwards; }
  @media all and (min-width: 768px) {
    .scroll-icon {
      margin: 0 100px; } }

.anim1 {
  animation-name: vanish; }

.anim2 {
  animation-name: vanish2; }

.anim3 {
  animation-name: vanish3; }

@keyframes vanish {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; } }

@keyframes vanish2 {
  30% {
    opacity: 0; }
  35% {
    opacity: 1; } }

@keyframes vanish3 {
  80% {
    opacity: 0; }
  95% {
    opacity: 1; } }
