.innertext--between {
  z-index: 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 60px;
  width: 100vw;
  padding-top: 15px;
  background-image: linear-gradient(rgba(246, 246, 246, 0.9), #868686);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  color: #212121;
  box-shadow: 0 5px 30px 0 rgba(83, 83, 83, 0.8); }
  .innertext--between:last-child {
    height: 100px; }
