$font__title: 'Alegreya Sans SC', sans-serif;
$font__title-alt: 'Acme', sans-serif;
$font__subtitle: 'Corben', cursive;

.innertext--between {
	z-index         : 3;
	display         : flex;
	align-items     : flex-start;
	justify-content : center;
	height          : 60px;
	width           : 100vw;
	padding-top     : 15px;
	//background      : white;
	background-image: linear-gradient(rgba(255, 255, 255,0.9),rgba(98, 98, 98, 1));
	font-family     : $font__title;
	font-size       : 2rem;
	color           : #000000;
	box-shadow      : 0 5px 30px 0 rgba(66, 66, 66,0.8);

	&:last-child {
		height: 100px;
	}
}
