.section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.anna-logo {
  margin: -30px 0 40px;
  width: 50%; }

.warnings {
  margin: 0 0 50px 300px; }

.warning {
  margin: 20px 0;
  text-align: left;
  font-family: "Corben", cursive;
  font-size: 1.1rem;
  color: #c9c9c9; }

.scroll-icon {
  font-size: 3rem;
  color: #ececec;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  opacity: 0;
  animation-fill-mode: forwards; }

.anim1 {
  animation-name: vanish; }

.anim2 {
  animation-name: vanish2; }

.anim3 {
  animation-name: vanish3; }

@keyframes vanish {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; } }

@keyframes vanish2 {
  30% {
    opacity: 0; }
  35% {
    opacity: 1; } }

@keyframes vanish3 {
  80% {
    opacity: 0; }
  95% {
    opacity: 1; } }
