.section__otherSkills {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-gap: 50px;
  background-image: linear-gradient(rgba(7, 39, 175, 0.3), rgba(255, 255, 255, 0.2));
  height: 100vh;
  width: 100vw;
  padding: 100px 50px 30px; }

.skills--topBar {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100vw; }

.skills__outer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px auto 0;
  border-radius: 30px;
  background-image: linear-gradient(rgba(19, 175, 7, 0.1), rgba(255, 255, 255, 0.2));
  width: 100%;
  padding: 10px 15px 30px; }

.skills__outer--languages {
  grid-row-start: span 2;
  padding: 10px 10px 30px 30px; }

.skills__table--title {
  margin: 10px 20px 10px 0;
  width: 100%;
  font-family: "Corben", cursive;
  font-size: 2rem;
  text-align: center; }

.skills__table {
  width: 90%;
  margin: 0 auto;
  font-family: sans-serif;
  letter-spacing: 1px; }
  .skills__table th {
    padding-top: 15px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #10c737;
    text-shadow: 0 0 1px white; }
  .skills__table td {
    height: 30px; }
    .skills__table td:hover {
      background: yellow;
      font-size: 1.1rem; }

.skills__table--languages {
  width: 80%;
  margin: 0 auto; }
  .skills__table--languages td {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 80px; }
    .skills__table--languages td:hover {
      font-size: 1.3rem; }
  .skills__table--languages td:first-of-type {
    margin-top: 15px;
    width: 80%;
    padding-left: 10px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #10c737;
    text-shadow: 0 0 1px white; }
    .skills__table--languages td:first-of-type:hover {
      background: none; }
  .skills__table--languages td:nth-child(even) {
    background-color: #eee; }
    .skills__table--languages td:nth-child(even):hover {
      background: yellow;
      font-size: 1.3rem; }
    .skills__table--languages td:nth-child(even) .icon--languages {
      color: #157FFB; }

.languages--flag {
  position: absolute;
  left: -35px;
  top: 60px;
  border: 1px solid #c0d0c4;
  border-radius: 50%;
  background: white;
  padding: 5px; }

.icon--languages {
  position: absolute;
  left: 10px;
  color: #5599d9; }

.skills__outer--other {
  margin-bottom: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.skills__table--other {
  margin-bottom: 30px; }
  .skills__table--other td {
    width: auto; }
    .skills__table--other td:first-of-type {
      width: 250px;
      padding-left: 5px; }
  .skills__table--other tr {
    line-height: 30px; }
    .skills__table--other tr:hover {
      background: yellow;
      font-size: 1.1rem; }
  .skills__table--other tr:nth-child(even) {
    background-color: #eee; }
    .skills__table--other tr:nth-child(even):hover {
      background: yellow;
      font-size: 1.1rem; }

.skills__outer--design {
  margin-top: -50px;
  margin-bottom: 50px; }

.skills__design {
  margin: 15px auto; }

.skills__design--samples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; }

.design__sample {
  border: 3px solid lightgray;
  cursor: pointer; }
  .design__sample:hover {
    border: 3px solid yellow; }
