$font__title: 'Alegreya Sans SC', sans-serif;
$font__title-alt: 'Acme', sans-serif;
$font__subtitle: 'Corben', cursive;
$green-bright: #32d269;
$green-pale: #c0d0c4;
$blue--dark: #054187;
$blue--normal: #157FFB;
$blue--light: #4681d0;
$blue-water: #2fa4c3;
$yellow--dark: #949632;
$yellow--bright: #ebe101;
$yellow--pale: #fdff9f;
$red--dark: #630808;
$red--bright: #c41717;
$black: #212121;
$gray-dark: #535353;
$gray-normal: #868686;
$white: #f6f6f6;

.images {
	position             : relative;
	height               : 100vh;
	background-attachment: fixed;
	background-position  : center;
	background-repeat    : no-repeat;
	background-size      : cover;

	&:last-child {
		margin: 0;
	}
}

.innertext {
	position       : absolute;
	top            : 40%;
	left           : 35%;
	display        : flex;
	align-items    : center;
	justify-content: center;
	border-radius  : 20px;
	min-height     : 60px;
	height         : auto;
	width          : 400px;
	background     : rgba($blue--dark, 0.7);
	font-family    : $font__subtitle;
	font-size      : 1.6rem;
	color          : white;
	line-height    : 60px;
	transform      : translate(-50%, -50%);
	opacity        : 0;
}

.innertext--p {
	text-align: center;
}

.animateIn {
	animation-name           : comeIn;
	animation-duration       : 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	transform                : scale(0);
	animation-fill-mode      : forwards;
}

.animateOut {
	animation-name           : comeOut;
	animation-duration       : 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	transform                : scale(1);
	animation-fill-mode      : forwards;
}

@keyframes comeIn {
	from {
		transform: scale(0.6);
		opacity  : 0;
	}

	to {
		transform: scale(1);
		opacity  : 1;
	}
}

@keyframes comeOut {
	from {
		transform: scale(1);
		opacity  : 1;
	}

	to {
		transform: scale(0.6);
		opacity  : 0;
	}
}

.scrollArea__horizontal {
	display        : flex;
	align-items    : center;
	justify-content: center;
	width          : 300vw;
}
