$font__title: 'Alegreya Sans SC', sans-serif;
$font__title-alt: 'Acme', sans-serif;
$font__subtitle: 'Corben', cursive;
$green-bright: #32d269;
$green-pale: #c0d0c4;
$blue--dark: #054187;
$blue--normal: #157FFB;
$blue--light: #4681d0;
$blue-water: #2fa4c3;
$yellow--dark: #949632;
$yellow--bright: #ebe101;
$yellow--pale: #fdff9f;
$red--dark: #630808;
$red--bright: #c41717;
$black: #212121;
$gray-dark: #535353;
$gray-normal: #868686;
$white: #f6f6f6;

.hero__social {
	border-radius   : 30px;
	background-image: linear-gradient(rgba($green-bright, 0.1),rgba($white, 0.2));
	height          : 400px;
	display         : flex;
	padding         : 10px 0 30px;
	flex-direction  : column;
	align-items     : center;
	justify-content : space-around;

	@media all and (min-width: 500px) {
		height : 500px;
		padding: 10px 0 80px;
	}
}

.hero__social--inner {
	margin: 5px 0;

	@media all and (min-width: 500px) {
		margin: 15px 0;
	}
}

.hero__social--link,
.hero__social--link-mail,
.hero__social--link-skype {
	display        : flex;
	align-items    : center;
	justify-content: center;
}

.hero__social--link {
	border          : 1px solid $white;
	border-radius   : 25px 0;
	background-image: linear-gradient(rgba($white, 0.2),rgba($green-bright, 0.5));
	width           : 120px;
	padding         : 5px 0;
	text-decoration : none;
	box-shadow      : 0 4px 5px 0 rgba($black, 0.4), inset 0 1px 5px 1px rgba($white, 0.7);

	&:hover {
		text-decoration: none;
		transform      : translate(0,1px);
		box-shadow     : inset 0 2px 5px 1px rgba($black, 0.4);
	}

	@media all and (min-width: 321px) {
		width: 150px;
	}

	@media all and (min-width: 500px) {
		width: 200px;
	}
}

.hero__social--inner + .hero__social--link {
	border          : 0;
	border-radius   : 0;
	background-image: none;
	width           : 200px;
	padding         : 0;
	text-decoration : none;
	box-shadow      : none;

	&:hover {
		text-decoration: none;
		transform      : none;
		box-shadow     : none;
	}
}

.hero__social--link-mail,
.hero__social--link-skype {
	flex-direction : column;
	width          : 100%;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.hero__social--link-skype {
	width: 75px;

	&:first-of-type {
		border-radius: 25px 0 0 0;
	}

	&:last-of-type {
		border-radius: 0 0 25px 0;
	}

	@media all and (min-width: 500px) {
		width: 50%;
	}
}

.icon-call,
.icon-chat,
.icon-github,
.icon-linkedin,
.icon-mail,
.icon-twitter {
	display       : inline;
	vertical-align: middle;
	font-size     : 2rem;
	text-shadow   : 0 0 1px $black;
}

.icon-call,
.icon-chat {
	.hero__social--link-skype:hover & {
		color: $blue--dark;
	}
}

.icon-github,
.icon-linkedin,
.icon-mail,
.icon-twitter {
	display       : inline;
	vertical-align: middle;
	font-size     : 2rem;
	text-shadow   : 0 0 1px $black;

	.hero__social--link:hover & {
		color: $blue--dark;
	}
}

.hero__social-text {
	margin     : 4px 0 0 5px;
	font-family: $font__title-alt;
	font-size  : 1rem;
	color      : $black;

	.hero__social--link-mail &,
	.hero__social--link-skype & {
		margin: 4px 0 0;
	}

	@media all and (min-width: 321px) {
		margin: 4px 0 0 15px;
	}

	@media all and (min-width: 500px) {
		margin   : 4px 0 0 25px;
		font-size: 1.3rem;

		.hero__social--link-mail &,
		.hero__social--link-skype & {
			margin: 4px 25px 0;
		}
	}
}
