.section__developer {
	position            : relative;
	background-image    : linear-gradient(
		rgba(#ffffff, 0.92),
		rgba(#f0f1fc, 0.93),
		rgba(#e6effb, 0.98)
		),
		url('https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/sea.gif');
	background-position : center;
	height              : auto;
	overflow             : hidden;
	padding-top         : 50px;
}

.developer__outer {
	display         : flex;
	flex-direction   : column;
	justify-content : center;
	align-items     : center;
	height          : auto;

	@media all and (min-width: 768px) {
		flex-direction  : row;
		align-items    : flex-start;
	}
}

.developer__sidebar {
	display          : flex;
	flex-direction    : column;
	justify-content  : space-around;
	align-items      : center;
	border-radius    : 30px;
	background-image : linear-gradient(rgba($green-bright, 0.1),rgba($white, 0.2));
	height           : 600px;
	width            : 90%;
	padding          : 15px 0 80px;

	@media all and (min-width: 768px) {
		opacity    : 0;
		transform  : translate(0,100vh);
		width      : 28%;
		transition : all ease 2s;

		&.comeIn {
			opacity   : 1;
			transform : translate(0,0);
		}
	}
}

.developer__main {
	height      : auto;
	width       : 100%;
	padding-top : 0;

	@media all and (min-width: 768px) {
		width : 67%;
	}
}

.developer__skills--title {
	border           : 1px solid $black;
	border-radius    : 10px 0;
	margin           : 20px 0 15px;
	background-image : linear-gradient(rgba($white, 0.2),rgba($blue-water, 0.5));
	width            : 100px;
	padding          : 5px 0;
	text-decoration  : none;
	font-family      : $font__title-alt;
	text-align       : center;
}

.developer__inner--skills {
	display               : grid;
	grid-template-columns : repeat(3,60px);
	grid-gap              : 20px;
}

.developer__inner--skills-others {
	grid-template-columns : repeat(3,50px);
	grid-gap              : 10px 40px;
}

.skills__outer {
	position        : relative;
	display         : flex;
	flex-direction  : column;
	justify-content : center;
	align-items     : center;

	&:hover .skills__inner--stars {
		display : block;
	}
}

.skills__text {
	margin-bottom : 5px;
	font-family   : $font__title;
	font-size     : 1rem;
	font-weight   : bold;
	color         : $black;
}

.skills__text--others {
	font-family : $font__title;
	font-size   : 0.9rem;
	font-weight : bold;
	color       : $black;
}

.skills__inner--icon {
	display         : flex;
	justify-content : center;
	align-items     : center;
	height          : 68px;
	width           : 60px;
}

.skills__inner--icon-others {
	display         : flex;
	justify-content : center;
	align-items     : center;
	height          : 60px;
	width           : 40px;
}

.skills__icon {
	height    : 100%;
	font-size : 3.5rem;

	&.icon--react {
		height : 60px;
	}

	&.icon--sass {
		height      : auto;
		width       : 100%;
		text-shadow : 0 0 1px rgba($white, 0.53);
		color       : $red--bright;
	}
}

.skills__icon--others {
	font-size : 3rem;

	&.icon--zeplin {
		height : auto;
		width  : 60px;
	}

	&.icon--npm {
		height      : auto;
		width       : 60px;
		text-shadow : 0 0 1px rgba($white, 0.53);
		color       : $red--bright;
	}

	&.icon--gulp {
		margin      : 3px 0 -3px;
		text-shadow : 0 0 1px rgba($gray-dark, 0.3);
		color       : $red--bright;
	}

	&.icon--node {
		margin      : 3px 0 -3px;
		text-shadow : 0 0 1px rgba($gray-dark, 0.3);
		color       : $green-bright;
	}

	&.icon--github {
		margin-top : 5px;
		height     : 58px;
		width      : 55px;
	}

	&.icon--bootstrap {
		height : 50px;
		width  : 50px;
	}
}

.icon--react {
	text-shadow : 0 0 1px rgba($white, 0.53);
	color       : $blue--light;
	animation   : App-logo-spin infinite 40s linear;
}

@keyframes App-logo-spin {
	from {
		transform : rotate(0deg);
	}

	to {
		transform : rotate(360deg);
	}
}

.skills__inner--stars {
	position   : absolute;
	display    : none;
	margin-top : 5px;
}

.icon--star {
	border-radius : 50%;
	background    : $black;
	height        : 20px;
	width         : 20px;
	padding-top   : 5px;
	text-shadow   : 0 0 5px $black;
	font-size     : 0.8rem;
	color         : $yellow--pale;
	box-shadow    : 0 0 5px 2px $white;
	text-align    : center;
}

.icon--star--others {
	background  : $black;
	height      : 15px;
	width       : 15px;
	font-size   : 0.6rem;
	line-height : 0.6;
}

.developer__formation,
.developer__projects {
	height : auto;

	@media all and (min-width: 768px) {
		transform  : translate(100vw,0);
		margin     : 0 0 0 30px;
		transition : transform ease 2s;

		&.comeIn {
			transform : translate(0,0);
		}
	}
}

.developer__formation {
	margin : -30px 0 0;

	@media all and (min-width: 768px) {
		margin : 0 0 0 30px;
	}
}

.developer__projects {
	display         : flex;
	flex-direction   : column;
	justify-content : center;
	align-items     : center;
	border-radius   : 50px 0 0 0;
}

.developer__adalab--title,
.developer__projects--title {
	position         : relative;
	border           : 1px solid $white;
	border-radius    : 20px 0;
	margin           : 0 0 15px;
	background-image : linear-gradient(rgba($white, 0.2),rgba(#2fa4c3, 0.5));
	height           : 70px;
	width            : 100%;
	padding          : 12px 0 0 10px;
	text-decoration  : none;
	font-family      : $font__subtitle;
	font-size        : 1.2rem;
	line-height      : 2rem;
	text-align       : left;

	@media all and (min-width: 321px) {
		font-size : 1.5rem;
	}

	@media all and (min-width: 768px) {
		padding   : 12px 0 0 30px;
		font-size : 2rem;
	}
}

.developer__adalab--logo {
	margin         : 0 0 2px 5px;
	width          : 100px;
	vertical-align : middle;

	@media all and (min-width: 768px) {
		width : 130px;
	}
}

.developer__adalab--text,
.developer__projects--text {
	margin      : 10px 30px 20px;
	font-size   : 1.1rem;
	line-height : 1.5;
	text-align  : justify;
}

.developer--more {
	position       : absolute;
	bottom         : 25px;
	right          : 10px;
	letter-spacing : 1px;
	text-shadow    : 0 0 2px $white;
	font-family    : $font__title-alt;
	font-size      : 0.8rem;
	line-height    : 1.1rem;
	color          : $blue--light;
	cursor         : default;

	@media all and (min-width: 768px) {
		position  : absolute;
		bottom    : 25px;
		right     : 30px;
		font-size : 1.1rem;
	}

	&:hover {
		color : $yellow--dark;
	}
}
