.project__item {
  height : auto;
}

.project__title {
  margin      : 10px 0;
  font-family : $font__title;
  font-size   : 1.3rem;
  font-weight : bold;
  color       : $blue--dark;
}

.project__title-icon {
  opacity : 0.4;
  color   : $black;
}

.project__thumbnail {
  border        : 1px solid $black;
  border-radius : 5px;
  margin-top    : 10px;
  width         : 100%;
  box-shadow    : 0 3px 7px 0 rgba($gray-dark, 0.8);
}

.project__description {
  margin-bottom : 20px;
  line-height   : 1.4;
  text-align    : justify;
}

.project__url-a {
  text-decoration : none;

  &:hover {
    text-decoration : none;
  }
}

.project__repo--icon {
  opacity        : 0.4;
  margin-right   : 4px;
  vertical-align : middle;
  font-size      : 1.3rem;
  color          : $black;
}
