@import url('https://fonts.googleapis.com/css?family=Corben|Acme|Alegreya+Sans+SC:400,700');

$font__title: 'Alegreya Sans SC', sans-serif;
$font__title-alt: 'Acme', sans-serif;
$font__subtitle: 'Corben', cursive;

//Greens
$green-bright: #32d269;
$green-pale: #c0d0c4;

//Blues
$blue--dark: #054187;
$blue--normal: #157FFB;
$blue--light: #4681d0;
$blue-water: #2fa4c3;

//Yellows
$yellow--dark: #949632;
$yellow--bright: #ebe101;
$yellow--pale: #fdff9f;
#2fc34a
//Reds
$red--dark: #630808;
$red--bright: #c41717;

//B&W
$black: #212121;
$gray-dark: #535353;
$gray-normal: #868686;
$white: #ffffff;

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}
