/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Corben|Acme|Alegreya+Sans+SC:400,700");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header__outer {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(#afa5b9, rgba(255, 255, 255, 0.8));
  height: 40px;
  width: 100vw;
  padding: 0 80px; }
  @media all and (min-width: 500px) {
    .header__outer {
      flex-wrap: nowrap; } }

.header__inner {
  min-width: 250px;
  text-align: center; }

.header__inner--languages {
  order: 3;
  height: 20px; }
  @media all and (min-width: 500px) {
    .header__inner--languages {
      order: 1; } }

.header__inner--title {
  order: 1;
  height: 20px; }
  @media all and (min-width: 500px) {
    .header__inner--title {
      order: 2; } }

.header__inner--version {
  order: 2;
  position: fixed;
  bottom: 0;
  height: 20px;
  font-size: 0.7rem; }
  @media all and (min-width: 500px) {
    .header__inner--version {
      order: 3;
      position: static;
      font-size: 1rem; } }

.header__flags {
  opacity: 0.3;
  display: inline;
  margin: 0 10px;
  cursor: pointer; }

.header__flags--active {
  opacity: 1;
  cursor: default; }

.header__text {
  font-family: "Alegreya Sans SC", sans-serif; }

.header__text-contact {
  font-family: "Corben", cursive;
  font-weight: bold; }

.background__overlay {
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(5, 65, 135, 0.4), rgba(5, 65, 135, 0.6), rgba(33, 33, 33, 0.9));
  height: 100vh;
  width: 100vw; }

.languages__outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid;
  border-radius: 40px 0;
  background-image: linear-gradient(to bottom left, #ffffff, #e6f4f4, #4681d0);
  height: 280px;
  width: 340px;
  padding: 20px;
  box-shadow: 2px 2px 10px 2px rgba(134, 134, 134, 0.7); }
  @media all and (min-width: 560px) {
    .languages__outer {
      border-radius: 50px 0;
      height: 300px;
      width: 480px; } }

.languages__text {
  margin: 5px 0;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-align: center; }
  @media all and (min-width: 560px) {
    .languages__text {
      font-size: 1rem; } }

.languages__flags--outer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px;
  margin: 10px auto 0; }
  @media all and (min-width: 560px) {
    .languages__flags--outer {
      margin: 20px auto 0; } }

.languages__flags--inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer; }

.languages__label {
  margin-bottom: 3px;
  font-size: 0.8rem;
  text-align: center; }

.languages__flag {
  opacity: 0.5;
  margin-top: -10px;
  width: 100%; }

.languages__flag--active {
  opacity: 1;
  cursor: default; }

.notYet {
  opacity: 0.2;
  filter: grayscale(100%);
  cursor: default; }

.languages__checkbox {
  margin-right: 20px; }

.languages__text--checkbox {
  margin: 30px 0 10px; }

.languages__close {
  border: 1px solid #212121;
  border-radius: 15px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(70, 129, 208, 0.6));
  width: 100px;
  padding: 5px 0;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(33, 33, 33, 0.4), inset 0 1px 5px 1px rgba(255, 255, 255, 0.7); }
  .languages__close:hover {
    transform: translate(0, 1px);
    text-decoration: none;
    box-shadow: inset 0 2px 5px 1px rgba(33, 33, 33, 0.4); }

.scrollArea__container {
  height: 100vh;
  overflow: scroll; }
  .scrollArea__container .languageModalIsVisible {
    overflow-y: hidden; }

.images {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }
  .images:last-child {
    margin: 0; }

.innertext {
  position: absolute;
  top: 40%;
  left: 35%;
  opacity: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(5, 65, 135, 0.7);
  min-height: 60px;
  height: auto;
  width: 400px;
  font-family: "Corben", cursive;
  font-size: 1.6rem;
  line-height: 60px;
  color: #ffffff; }

.innertext--p {
  text-align: center; }

.animateIn {
  transform: scale(0);
  animation-name: comeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.animateOut {
  transform: scale(1);
  animation-name: comeOut;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes comeIn {
  from {
    opacity: 0;
    transform: scale(0.6); }
  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes comeOut {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(0.6); } }

.scrollArea__horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300vw; }

.innertext--between {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), #868686);
  height: 60px;
  width: 100vw;
  padding-top: 15px;
  box-shadow: 0 5px 30px 0 rgba(83, 83, 83, 0.8); }
  .innertext--between:last-child {
    height: 100px; }

.innertext--title {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  color: #212121; }

.section__infoPage {
  position: relative;
  margin: 20px 0 0;
  background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url("https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/sea.gif");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media all and (min-width: 500px) {
    .section__infoPage {
      background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7)), url("https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/sea.gif"); } }

.infoPage__outerWrapper {
  margin-top: 50px;
  width: 100vw; }
  @media all and (min-width: 500px) {
    .infoPage__outerWrapper {
      margin-top: 100px; } }

.infoPage__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%; }
  @media all and (min-width: 500px) {
    .infoPage__container {
      width: 90%; } }

.infoPage__photoAndName {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 45%; }
  @media all and (min-width: 500px) {
    .infoPage__photoAndName {
      width: 75%; } }

.infoPage__photo--container {
  height: 170px;
  width: 100%;
  padding-right: 5px; }
  @media all and (min-width: 500px) {
    .infoPage__photo--container {
      height: 400px;
      width: 30%; } }

.infoPage__id--container {
  height: 230px;
  width: 100%;
  padding: 10px 20px; }
  @media all and (min-width: 500px) {
    .infoPage__id--container {
      height: 400px;
      width: 70%; } }

.infoPage__social--container {
  height: 400px;
  width: 55%; }
  @media all and (min-width: 321px) {
    .infoPage__social--container {
      width: 50%; } }
  @media all and (min-width: 500px) {
    .infoPage__social--container {
      width: 25%; } }

.infoPage__photo {
  height: 500px; }

.infoPage__mugshot {
  width: 100%; }

.infoPage__id {
  height: 100px; }
  @media all and (min-width: 500px) {
    .infoPage__id {
      height: 200px; } }

.infoPage__name {
  background-image: url("https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/other/bg-binary.jpg");
  background-position: center;
  background-size: contain;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: transparent; }
  @media all and (min-width: 768px) {
    .infoPage__name {
      font-size: 4rem; } }
  @media all and (min-width: 1024px) {
    .infoPage__name {
      font-size: 5rem; } }

.infoPage__name--devices {
  display: block;
  margin: 5px 0;
  text-align: center; }
  @media all and (min-width: 500px) {
    .infoPage__name--devices {
      display: none; } }

.infoPage__name--desktop {
  display: none; }
  @media all and (min-width: 500px) {
    .infoPage__name--desktop {
      display: block; } }

.infoPage__job {
  margin-top: -30px;
  margin-left: -25px;
  width: 42vw;
  font-family: "Corben", cursive;
  font-size: 1.3rem;
  text-align: center; }
  @media all and (min-width: 321px) {
    .infoPage__job {
      margin-top: 0;
      font-size: 1.5rem; } }
  @media all and (min-width: 500px) {
    .infoPage__job {
      margin-left: 0;
      width: auto;
      font-size: 2rem;
      text-align: left; } }

.infoPage__boat {
  position: absolute;
  top: 40%;
  filter: saturate(0.5) brightness(1.8) contrast(30%) opacity(0.2);
  transform: translate(-50%, 0);
  width: 100px;
  animation-name: navigating;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; }
  @media all and (min-width: 768px) {
    .infoPage__boat {
      top: 30%;
      filter: saturate(0.5) brightness(1.8) contrast(30%) opacity(0.2); } }

@keyframes navigating {
  0% {
    right: 10vw;
    opacity: 0; }
  35% {
    opacity: 1; }
  50% {
    opacity: 1; }
  70% {
    right: 60vw;
    opacity: 0; }
  100% {
    right: 110vw;
    opacity: 0; } }

.infoPage__aditional {
  margin: -20px 0 0;
  width: 90%;
  font-style: italic;
  font-family: "Corben", cursive;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #4681d0;
  text-align: center; }
  @media all and (min-width: 500px) {
    .infoPage__aditional {
      margin: -40px 0 0 20px;
      height: 200px;
      width: 80%;
      font-size: 1.2rem;
      text-align: left; } }

.infoPage__advise {
  margin-top: -20px;
  background: rgba(235, 225, 1, 0.3);
  width: 100%;
  padding: 5px 15px;
  font-family: "Corben", cursive;
  font-size: 0.9rem;
  text-align: center; }
  @media all and (min-width: 768px) {
    .infoPage__advise {
      margin-top: 40px; } }
  @media all and (min-width: 1200px) {
    .infoPage__advise {
      display: none; } }

.infoPage__scrollDown {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0; }
  @media all and (min-width: 768px) {
    .infoPage__scrollDown {
      margin-top: 80px; } }

.infoPage__scrollDown-inner {
  display: flex;
  justify-content: center;
  align-items: center; }

.scroll-icon {
  opacity: 0;
  margin: 0 20px;
  font-size: 3rem;
  color: rgba(70, 129, 208, 0.55);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; }
  @media all and (min-width: 768px) {
    .scroll-icon {
      margin: 0 100px; } }

.anim1 {
  animation-name: vanish; }

.anim2 {
  animation-name: vanish2; }

.anim3 {
  animation-name: vanish3; }

@keyframes vanish {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; } }

@keyframes vanish2 {
  30% {
    opacity: 0; }
  35% {
    opacity: 1; } }

@keyframes vanish3 {
  80% {
    opacity: 0; }
  95% {
    opacity: 1; } }

.infoPage__social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  background-image: linear-gradient(rgba(50, 210, 105, 0.1), rgba(255, 255, 255, 0.2));
  height: 400px;
  padding: 10px 0 30px; }
  @media all and (min-width: 500px) {
    .infoPage__social {
      height: 500px;
      padding: 10px 0 80px; } }

.infoPage__social--inner {
  margin: 5px 0; }
  @media all and (min-width: 500px) {
    .infoPage__social--inner {
      margin: 15px 0; } }

.infoPage__social--link,
.infoPage__social--link-mail,
.infoPage__social--link-skype {
  display: flex;
  justify-content: center;
  align-items: center; }

.infoPage__social--link {
  border: 1px solid #ffffff;
  border-radius: 25px 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(50, 210, 105, 0.5));
  width: 120px;
  padding: 5px 0;
  text-decoration: none;
  box-shadow: 0 4px 5px 0 rgba(33, 33, 33, 0.4), inset 0 1px 5px 1px rgba(255, 255, 255, 0.7); }
  @media all and (min-width: 321px) {
    .infoPage__social--link {
      width: 150px; } }
  @media all and (min-width: 500px) {
    .infoPage__social--link {
      width: 200px; } }
  .infoPage__social--link:hover {
    transform: translate(0, 1px);
    text-decoration: none;
    box-shadow: inset 0 2px 5px 1px rgba(33, 33, 33, 0.4); }

.infoPage__social--inner + .infoPage__social--link {
  border: 0;
  border-radius: 0;
  background-image: none;
  width: 200px;
  padding: 0;
  text-decoration: none;
  box-shadow: none; }
  .infoPage__social--inner + .infoPage__social--link:hover {
    transform: none;
    text-decoration: none;
    box-shadow: none; }

.infoPage__social--link-mail,
.infoPage__social--link-skype {
  flex-direction: column;
  width: 100%;
  text-decoration: none; }
  .infoPage__social--link-mail:hover,
  .infoPage__social--link-skype:hover {
    text-decoration: none; }

.infoPage__social--link-skype {
  width: 75px; }
  @media all and (min-width: 500px) {
    .infoPage__social--link-skype {
      width: 50%; } }
  .infoPage__social--link-skype:first-of-type {
    border-radius: 25px 0 0 0; }
  .infoPage__social--link-skype:last-of-type {
    border-radius: 0 0 25px 0; }

.icon-call,
.icon-chat,
.icon-github,
.icon-linkedin,
.icon-mail,
.icon-twitter {
  display: inline;
  vertical-align: middle;
  text-shadow: 0 0 1px #212121;
  font-size: 2rem; }
  .infoPage__social--link-skype:hover .icon-call, .infoPage__social--link-skype:hover
  .icon-chat, .infoPage__social--link-skype:hover
  .icon-github, .infoPage__social--link-skype:hover
  .icon-linkedin, .infoPage__social--link-skype:hover
  .icon-mail, .infoPage__social--link-skype:hover
  .icon-twitter {
    color: #054187; }

.infoPage__social-text {
  margin: 4px 0 0 5px;
  font-family: "Acme", sans-serif;
  font-size: 1rem;
  color: #212121; }
  @media all and (min-width: 321px) {
    .infoPage__social-text {
      margin: 4px 0 0 15px; } }
  @media all and (min-width: 500px) {
    .infoPage__social-text {
      margin: 4px 0 0 25px;
      font-size: 1.3rem; }
      .infoPage__social--link-mail .infoPage__social-text,
      .infoPage__social--link-skype .infoPage__social-text {
        margin: 4px 25px 0; } }
  .infoPage__social--link-mail .infoPage__social-text,
  .infoPage__social--link-skype .infoPage__social-text {
    margin: 4px 0 0; }

.section__developer {
  position: relative;
  display: fixed;
  background-image: linear-gradient(rgba(255, 255, 255, 0.92), rgba(240, 241, 252, 0.93), rgba(230, 239, 251, 0.98)), url("https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/sea.gif");
  background-position: center;
  height: auto;
  overflow: hidden;
  padding-top: 50px; }

.developer__outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; }
  @media all and (min-width: 768px) {
    .developer__outer {
      flex-direction: row;
      align-items: flex-start; } }

.developer__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  background-image: linear-gradient(rgba(50, 210, 105, 0.1), rgba(255, 255, 255, 0.2));
  height: 600px;
  width: 90%;
  padding: 15px 0 80px; }
  @media all and (min-width: 768px) {
    .developer__sidebar {
      opacity: 0;
      transform: translate(0, 100vh);
      width: 28%;
      transition: all ease 2s; }
      .developer__sidebar.comeIn {
        opacity: 1;
        transform: translate(0, 0); } }

.developer__main {
  height: auto;
  width: 100%;
  padding-top: 0; }
  @media all and (min-width: 768px) {
    .developer__main {
      width: 67%; } }

.developer__skills--title {
  border: 1px solid #212121;
  border-radius: 10px 0;
  margin: 20px 0 15px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(47, 164, 195, 0.5));
  width: 100px;
  padding: 5px 0;
  text-decoration: none;
  font-family: "Acme", sans-serif;
  text-align: center; }

.developer__inner--skills {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 20px; }

.developer__inner--skills-others {
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px 40px; }

.skills__outer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .skills__outer:hover .skills__inner--stars {
    display: block; }

.skills__text {
  margin-bottom: 5px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #212121; }

.skills__text--others {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #212121; }

.skills__inner--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 60px; }

.skills__inner--icon-others {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 40px; }

.skills__icon {
  height: 100%;
  font-size: 3.5rem; }
  .skills__icon.icon--react {
    height: 60px; }
  .skills__icon.icon--sass {
    height: auto;
    width: 100%;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.53);
    color: #c41717; }

.skills__icon--others {
  font-size: 3rem; }
  .skills__icon--others.icon--zeplin {
    height: auto;
    width: 60px; }
  .skills__icon--others.icon--npm {
    height: auto;
    width: 60px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.53);
    color: #c41717; }
  .skills__icon--others.icon--gulp {
    margin: 3px 0 -3px;
    text-shadow: 0 0 1px rgba(83, 83, 83, 0.3);
    color: #c41717; }
  .skills__icon--others.icon--node {
    margin: 3px 0 -3px;
    text-shadow: 0 0 1px rgba(83, 83, 83, 0.3);
    color: #32d269; }
  .skills__icon--others.icon--github {
    margin-top: 5px;
    height: 58px;
    width: 55px; }
  .skills__icon--others.icon--bootstrap {
    height: 50px;
    width: 50px; }

.icon--react {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.53);
  color: #4681d0;
  animation: App-logo-spin infinite 40s linear; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.skills__inner--stars {
  position: absolute;
  display: none;
  margin-top: 5px; }

.icon--star {
  border-radius: 50%;
  background: #212121;
  height: 20px;
  width: 20px;
  padding-top: 5px;
  text-shadow: 0 0 5px #212121;
  font-size: 0.8rem;
  color: #fdff9f;
  box-shadow: 0 0 5px 2px #ffffff;
  text-align: center; }

.icon--star--others {
  background: #212121;
  height: 15px;
  width: 15px;
  font-size: 0.6rem;
  line-height: 0.6; }

.developer__formation,
.developer__projects {
  height: auto; }
  @media all and (min-width: 768px) {
    .developer__formation,
    .developer__projects {
      transform: translate(100vw, 0);
      margin: 0 0 0 30px;
      transition: transform ease 2s; }
      .developer__formation.comeIn,
      .developer__projects.comeIn {
        transform: translate(0, 0); } }

.developer__formation {
  margin: -30px 0 0; }
  @media all and (min-width: 768px) {
    .developer__formation {
      margin: 0 0 0 30px; } }

.developer__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px 0 0 0; }

.developer__adalab--title,
.developer__projects--title {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 20px 0;
  margin: 0 0 15px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(47, 164, 195, 0.5));
  height: 70px;
  width: 100%;
  padding: 12px 0 0 10px;
  text-decoration: none;
  font-family: "Corben", cursive;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left; }
  @media all and (min-width: 321px) {
    .developer__adalab--title,
    .developer__projects--title {
      font-size: 1.5rem; } }
  @media all and (min-width: 768px) {
    .developer__adalab--title,
    .developer__projects--title {
      padding: 12px 0 0 30px;
      font-size: 2rem; } }

.developer__adalab--logo {
  margin: 0 0 2px 5px;
  width: 100px;
  vertical-align: middle; }
  @media all and (min-width: 768px) {
    .developer__adalab--logo {
      width: 130px; } }

.developer__adalab--text,
.developer__projects--text {
  margin: 10px 30px 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify; }

.developer--more {
  position: absolute;
  bottom: 25px;
  right: 10px;
  letter-spacing: 1px;
  text-shadow: 0 0 2px #ffffff;
  font-family: "Acme", sans-serif;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #4681d0;
  cursor: default; }
  @media all and (min-width: 768px) {
    .developer--more {
      position: absolute;
      bottom: 25px;
      right: 30px;
      font-size: 1.1rem; } }
  .developer--more:hover {
    color: #949632; }

.developer__projects--thumbnails-checkbox {
  width: 100%;
  text-align: center; }

.developer__projects-checkbox {
  margin: 0 10px; }

.projects__list {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 225px;
  grid-gap: 30px 20px;
  margin-top: 30px;
  height: 210px;
  overflow: hidden; }
  @media all and (min-width: 768px) {
    .projects__list {
      grid-template-columns: 300px 300px;
      grid-template-rows: 360px; } }
  .projects__list.show {
    height: auto; }
  .projects__list.show-thumbnails {
    height: 390px; }
  .projects__list.show-thumbnails-mobile {
    grid-template-rows: 360px;
    height: 380px; }

.project__seeMore {
  opacity: 0.5;
  margin-bottom: 40px;
  text-align: center; }

.project__seeMore-text {
  vertical-align: super;
  font-size: 0.8rem;
  text-align: center; }

.icon--more {
  margin: 0 5px;
  font-size: 2rem; }

.project__item {
  height: auto; }

.project__title {
  margin: 10px 0;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #054187; }

.project__title-icon {
  opacity: 0.4;
  color: #212121; }

.project__thumbnail {
  border: 1px solid #212121;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 0 3px 7px 0 rgba(83, 83, 83, 0.8); }

.project__description {
  margin-bottom: 20px;
  line-height: 1.4;
  text-align: justify; }

.project__url-a {
  text-decoration: none; }
  .project__url-a:hover {
    text-decoration: none; }

.project__repo--icon {
  opacity: 0.4;
  margin-right: 4px;
  vertical-align: middle;
  font-size: 1.3rem;
  color: #212121; }

.section__formation {
  position: relative;
  display: fixed;
  background-image: linear-gradient(rgba(230, 239, 251, 0.98), rgba(230, 239, 251, 0.93), rgba(189, 214, 246, 0.98)), url("https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/sea.gif");
  background-position: center;
  height: 100vh; }

.formation__verticalBar {
  position: absolute;
  left: 10%;
  border-right: 5px solid rgba(70, 129, 208, 0.3);
  height: 90vh;
  width: 0; }

.formation__outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 auto;
  height: auto;
  width: 80vw; }

.formation__inner {
  height: auto;
  width: 100%; }

.formation__date-wrapper {
  margin-left: -80px;
  width: 80px; }

.formation__inner--year {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.2em;
  color: #630808;
  text-align: center; }

.formation__inner--horizontalBar,
.formation__inner--year {
  height: 130px; }

.formation__horizontarBar-adalab,
.formation__horizontarBar-ir,
.formation__horizontarBar-master,
.formation__horizontarBar-psy {
  display: inline-block;
  border-top: 5px solid rgba(70, 129, 208, 0.3); }

.formation__horizontarBar-psy {
  width: 20px; }
  @media all and (min-width: 768px) {
    .formation__horizontarBar-psy {
      width: 0;
      transition: width ease 2s; }
      .formation__horizontarBar-psy.comeIn {
        width: 15vw; } }

.formation__horizontarBar-ir {
  width: 20px; }
  @media all and (min-width: 768px) {
    .formation__horizontarBar-ir {
      width: 0;
      transition: width ease 2s; }
      .formation__horizontarBar-ir.comeIn {
        width: 30vw; } }

.formation__horizontarBar-master {
  width: 20px; }
  @media all and (min-width: 768px) {
    .formation__horizontarBar-master {
      width: 0;
      transition: width ease 2s; }
      .formation__horizontarBar-master.comeIn {
        width: 45vw; } }

.formation__horizontarBar-adalab {
  width: 20px; }
  @media all and (min-width: 768px) {
    .formation__horizontarBar-adalab {
      width: 0;
      transition: width ease 2s; }
      .formation__horizontarBar-adalab.comeIn {
        width: 60vw; } }

.formation__title {
  display: inline;
  margin-left: 20px;
  font-family: "Acme", sans-serif;
  font-size: 1.4em;
  color: #054187; }
  .formation__title:hover {
    letter-spacing: 0.1rem;
    color: #949632; }

@media all and (min-width: 768px) {
  .formation__title-adalab,
  .formation__title-ir,
  .formation__title-master,
  .formation__title-psy {
    opacity: 0;
    transition: opacity ease 2s; }
    .formation__title-adalab.comeIn,
    .formation__title-ir.comeIn,
    .formation__title-master.comeIn,
    .formation__title-psy.comeIn {
      opacity: 1; } }

.formation__details {
  margin-left: 10px;
  font-family: "Corben", cursive;
  font-size: 1rem; }

@media all and (min-width: 768px) {
  .formation__details-ir,
  .formation__details-master,
  .formation__details-psy {
    opacity: 0;
    transition: opacity ease 2s; }
    .formation__details-ir.comeIn,
    .formation__details-master.comeIn,
    .formation__details-psy.comeIn {
      opacity: 1; } }

.formation__flag {
  margin-left: 5px;
  vertical-align: middle; }

.section__seabed {
  position: relative;
  position: relative;
  display: fixed;
  background-image: linear-gradient(rgba(189, 214, 246, 0.96), rgba(171, 204, 246, 0.95), rgba(236, 246, 189, 0.9)), url("https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/sea.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; }

.seabed__image {
  position: absolute;
  bottom: 0;
  opacity: 0.05;
  background-image: url("https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/seabed.jpg");
  background-position: bottom;
  background-size: 100% 220%;
  height: 50vh;
  width: 100vw; }

.seabed__message--outer {
  border-radius: 80px 0;
  margin: 60px auto 0;
  background-color: rgba(255, 255, 255, 0.05);
  height: auto;
  width: 60vw;
  padding: 10px 50px; }

.floating {
  z-index: 5;
  animation-name: float;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both; }

.floating-delay {
  animation-delay: 1s; }

.floating-soft {
  animation-name: float;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both; }

@keyframes float {
  from {
    transform: translate(-5px, 10px); }
  to {
    transform: translate(3px, -10px); } }

.seabed__message {
  margin: 15px 0;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #054187;
  text-align: justify; }

.seabed__message-devices {
  display: none; }

.seabed__go--experiences,
.seabed__go--otherSkills {
  position: absolute;
  display: flex;
  width: 120px; }

.seabed__go--experiences {
  bottom: 150px;
  left: 20vw;
  justify-content: flex-start;
  text-align: center; }
  @media all and (min-width: 768px) {
    .seabed__go--experiences {
      bottom: 33vh;
      left: auto;
      right: 30px;
      justify-content: flex-end;
      text-align: right; } }

.seabed__go--otherSkills {
  top: 170px;
  bottom: initial;
  right: 33vw;
  justify-content: flex-end;
  text-align: center; }
  @media all and (min-width: 768px) {
    .seabed__go--otherSkills {
      top: initial;
      bottom: 33vh;
      left: 40px;
      right: auto;
      justify-content: flex-start;
      text-align: left; } }

.seabed__go-text {
  opacity: 0.9;
  text-shadow: 0 0 3px #054187;
  font-family: sans-serif;
  font-size: 2.8rem;
  color: #ffffff; }
  @media all and (min-width: 768px) {
    .seabed__go-text {
      opacity: 0.7;
      text-shadow: 0 0 3px #ffffff;
      font-size: 3rem;
      color: rgba(255, 255, 255, 0.2); } }

@media all and (min-width: 768px) {
  .goThisWay {
    text-shadow: 0 0 3px #ffffff;
    font-size: 3.2rem;
    color: rgba(235, 225, 1, 0.73); } }

#hero {
  position: absolute;
  bottom: 40%;
  opacity: 0.6;
  display: none;
  width: 200px;
  transition: all ease 1s; }
  @media all and (min-width: 768px) {
    #hero {
      display: block; } }
  #hero.swim {
    width: 250px; }
  #hero.goingUp {
    transform: rotate(290deg);
    width: 250px;
    transition: top 10s ease; }

.seabed__anna {
  position: absolute;
  bottom: 20px;
  left: 15vw;
  transform: perspective(7rem) rotateX(16deg) skewX(20deg);
  width: 80%;
  text-shadow: 0 0 3px #ebe101;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 9rem;
  line-height: 0.8;
  font-weight: bold; }

.seabed__findSomething {
  position: absolute;
  top: 20vh;
  left: 0;
  transform: translate(-50%, 0);
  width: 100%;
  text-shadow: 0 0 2px #212121;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  text-align: center; }
  @media all and (min-width: 768px) {
    .seabed__findSomething {
      top: 30vh;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 2.5rem; }
      .seabed__findSomething:nth-of-type(2) {
        top: 37vh; }
      .seabed__findSomething:nth-of-type(3) {
        top: 44vh; } }
  .seabed__findSomething:nth-of-type(2) {
    top: 38vh; }

.hero__thinks {
  position: absolute;
  bottom: 65%;
  opacity: 0.8;
  width: 180px;
  text-shadow: 0 0 1px #212121;
  font-style: italic;
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #fdff9f;
  text-align: center; }
  .hero__thinks.on-left {
    left: 40px;
    right: initial; }
  .hero__thinks.on-right {
    left: initial;
    right: 40px; }

.seabed__back {
  margin-top: 30vh;
  text-shadow: 0 0 2px #212121;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 3rem;
  color: #ffffff;
  text-align: center; }

.seabed__click2close {
  z-index: 4;
  position: absolute;
  top: 10px;
  right: 5px;
  border: 1px solid #630808;
  border-radius: 5px 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(193, 27, 27, 0.9));
  padding: 2px 5px;
  text-shadow: 0 0 1px rgba(83, 83, 83, 0.51);
  font-family: "Acme", sans-serif;
  font-size: 0.7rem;
  color: #212121;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(33, 33, 33, 0.4), inset 0 1px 5px 1px rgba(255, 255, 255, 0.7); }
  @media all and (min-width: 321px) {
    .seabed__click2close {
      border-radius: 8px 0;
      padding: 2px 10px;
      font-size: 1.2rem; } }
  @media all and (min-width: 768px) {
    .seabed__click2close {
      right: 10px;
      border-radius: 12px 0;
      padding: 3px 12px;
      font-size: 1.4rem; } }
  .seabed__click2close:hover {
    transform: translate(0, 1px);
    text-decoration: none;
    box-shadow: inset 0 2px 5px 1px rgba(33, 33, 33, 0.4); }
  .seabed__click2close.seabed__click2close-otherSkills {
    display: none; }

.section__experiences {
  z-index: 6;
  position: absolute;
  top: initial;
  bottom: 50px;
  left: 20%;
  opacity: 0.5;
  transform: perspective(5em) rotateX(50deg);
  outline: none;
  border: 1px solid #212121;
  border-radius: 10px 0;
  background-image: linear-gradient(to top right, #ffffff, #e6f4f4, #4681d0);
  height: 40px;
  width: 60px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 5px 0 rgba(33, 33, 33, 0.4), inset 0 1px 5px 1px rgba(255, 255, 255, 0.7); }
  @media all and (min-width: 768px) {
    .section__experiences {
      left: 40%; } }
  .section__experiences:hover {
    opacity: 0.7;
    border: 3px solid #ebe101; }
  .section__experiences.show {
    bottom: 0;
    left: 0;
    opacity: 0.9;
    transform: none;
    border: 2px solid #212121;
    border-radius: 0;
    height: 90vh;
    width: 100vw;
    padding: 5px;
    cursor: default; }
    @media all and (min-width: 768px) {
      .section__experiences.show {
        top: 40px;
        bottom: initial;
        left: 20vw;
        opacity: 0.9;
        transform: none;
        border: 2px solid #212121;
        border-radius: 40px 0;
        height: 90vh;
        width: 75vw;
        padding: 15px; } }
    .section__experiences.show:hover {
      border: 2px solid #212121; }

.experiences__text-fake {
  width: 100%;
  font-size: 0.9rem;
  line-height: 0.8;
  text-align: center; }

.experiences__outer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 auto;
  height: 100%;
  width: 100%; }

.experiences__inner {
  height: 100%; }
  .experiences__inner:last-of-type {
    width: 100%; }

.experiences__inner--year {
  margin-right: 5px;
  width: 40px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 0.8em;
  color: #630808;
  text-align: center; }
  @media all and (min-width: 321px) {
    .experiences__inner--year {
      margin-right: 10px;
      width: 60px;
      font-size: 1.2em; } }
  @media all and (min-width: 768px) {
    .experiences__inner--year {
      margin-right: 15px;
      width: 60px; } }

.experiences__verticalBar {
  border-right: 5px solid rgba(70, 129, 208, 0.3);
  height: 80vh; }
  @media all and (min-width: 768px) {
    .experiences__verticalBar {
      height: 85vh; } }

.experiences__inner--horizontalBar,
.experiences__inner--year {
  margin-top: 50px;
  height: 25%; }
  @media all and (min-width: 321px) {
    .experiences__inner--horizontalBar,
    .experiences__inner--year {
      margin-top: 25px; }
      .experiences__inner--horizontalBar:first-of-type,
      .experiences__inner--year:first-of-type {
        margin-top: 60px; }
      .experiences__inner--horizontalBar:last-of-type,
      .experiences__inner--year:last-of-type {
        margin-top: 10px; } }
  @media all and (min-width: 768px) {
    .experiences__inner--horizontalBar,
    .experiences__inner--year {
      margin-top: 40px; } }
  .experiences__inner--horizontalBar:first-of-type,
  .experiences__inner--year:first-of-type {
    margin-top: 35px; }
  .experiences__inner--horizontalBar:last-of-type,
  .experiences__inner--year:last-of-type {
    margin-top: 10px; }

.experiences__horizontarBar-adalab,
.experiences__horizontarBar-ir,
.experiences__horizontarBar-master,
.experiences__horizontarBar-psy {
  display: inline-block;
  border-top: 5px solid rgba(70, 129, 208, 0.3); }

.experiences__horizontarBar-psy {
  width: 10%; }

.experiences__horizontarBar-ir {
  width: 10%; }
  @media all and (min-width: 768px) {
    .experiences__horizontarBar-ir {
      width: 30%; } }

.experiences__horizontarBar-master {
  width: 10%; }
  @media all and (min-width: 768px) {
    .experiences__horizontarBar-master {
      width: 30%; } }

.experiences__title {
  display: inline;
  margin-left: 20px;
  font-family: "Acme", sans-serif;
  font-size: 1rem;
  color: #054187; }
  @media all and (min-width: 321px) {
    .experiences__title {
      font-size: 1.4rem; } }
  .experiences__title:hover {
    letter-spacing: 0.1rem;
    color: #949632; }

.experiences__details {
  margin: 5px 10px;
  font-family: "Corben", cursive;
  font-size: 0.9rem;
  line-height: 1; }
  @media all and (min-width: 768px) {
    .experiences__details {
      font-size: 1rem;
      line-height: 2; } }

.experiences__flag {
  margin-left: 5px;
  vertical-align: middle; }

.experiences__more {
  position: absolute;
  bottom: 5px;
  right: 35px;
  font-size: 0.8rem; }
  @media all and (min-width: 321px) {
    .experiences__more {
      bottom: 15px;
      font-size: 1rem; } }

.experiences__social--link {
  margin-left: 5px;
  vertical-align: super; }

.otherSkills__mac {
  z-index: 6;
  position: relative;
  top: 80vh;
  left: 60%;
  opacity: 0.8;
  height: 50px;
  width: 70px; }
  @media all and (min-width: 768px) {
    .otherSkills__mac {
      left: 40%; } }
  .otherSkills__mac.show {
    top: 0;
    left: -8px;
    opacity: 1;
    height: 100vh;
    width: 100%; }

.otherSkills__mac--screen {
  opacity: 0.9;
  transform: perspective(8em) rotateX(-5deg) skewX(-4deg);
  border-left: 1px solid #868686;
  background: #212121;
  height: 50px;
  width: 70px; }
  .otherSkills__mac--screen.show {
    opacity: 1;
    transform: none;
    border-left: 0;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    overflow-y: scroll; }

.otherSkills__mac--keyboard {
  position: absolute;
  top: 30px;
  left: 2px;
  opacity: 0.6;
  transform: perspective(9em) rotateX(65deg) skewX(15deg);
  border-bottom: 3px solid #212121;
  border-left: 1px solid #212121;
  background: #868686;
  height: 55px;
  width: 77px;
  box-shadow: -2px 2px 10px 3px rgba(83, 83, 83, 0.8); }

.otherSkills__mac--keyboard-keyArea {
  position: absolute;
  top: 58px;
  left: 25px;
  opacity: 0.5;
  width: 70px; }

.otherSkills__mac--keyboard-keys {
  transform: perspective(0em) rotateX(120deg) skewX(100deg);
  margin: -10px 0;
  letter-spacing: -1.3px;
  line-height: 0.9;
  text-align: center; }

.section__otherSkills {
  z-index: 3;
  position: relative;
  top: 5px;
  left: 5px;
  opacity: 0.9;
  transform: perspective(-1em) rotateX(-2deg) skewX(-1deg);
  background-image: linear-gradient(#2fa4c3, #ffffff);
  height: 40px;
  width: 60px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  animation-name: bright;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  .section__otherSkills:hover {
    opacity: 1;
    border: 5px solid #ebe101; }
  .section__otherSkills.show {
    opacity: 1;
    transform: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: 2px solid #212121;
    background-image: linear-gradient(rgba(7, 39, 175, 0.3), rgba(255, 255, 255, 0.2));
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    padding: 10px 0 30px;
    cursor: default; }
    @media all and (min-width: 768px) {
      .section__otherSkills.show {
        grid-template-columns: 1fr 3fr;
        grid-gap: 50px;
        padding: 100px 50px 30px; } }
    .section__otherSkills.show:hover {
      border: 2px solid #212121; }
    .section__otherSkills.show .seabed__click2close-otherSkills {
      top: 30px;
      right: 10px;
      display: block; }
      @media all and (min-width: 768px) {
        .section__otherSkills.show .seabed__click2close-otherSkills {
          top: 100px;
          right: 50px; } }

@keyframes bright {
  from {
    box-shadow: 0 0 10px 3px #c0d0c4; }
  to {
    box-shadow: 0 0 30px 1px #2fa4c3; } }

.skills--topBar {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 60px; }
  .show .skills--topBar {
    z-index: 4;
    position: fixed;
    top: 0;
    left: -8px;
    width: 101vw; }

.otherSkills__outer {
  border-radius: 30px;
  margin: 30px auto 0;
  background-image: linear-gradient(rgba(50, 210, 105, 0.1), rgba(255, 255, 255, 0.2));
  width: 100%;
  padding: 10px 15px 30px; }

.otherSkills__outer--languages {
  padding: 10px 20px 30px 30px;
  grid-row-start: span 2; }

.skills__table--title {
  margin: 10px 0;
  width: 100%;
  font-family: "Corben", cursive;
  font-size: 2rem;
  text-align: center; }
  @media all and (min-width: 768px) {
    .skills__table--title {
      margin: 10px 20px 10px 0; } }

.skills__table {
  margin: 0 auto;
  width: 100%;
  letter-spacing: 1px;
  font-family: sans-serif; }
  @media all and (min-width: 768px) {
    .skills__table {
      width: 90%; } }
  .skills__table th {
    padding-top: 10px;
    letter-spacing: 0;
    text-shadow: 0 0 1px #ffffff;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    color: #32d269;
    text-align: center; }
    @media all and (min-width: 768px) {
      .skills__table th {
        padding-top: 15px;
        letter-spacing: 1px;
        font-size: 1.3rem; } }
  .skills__table tr td:first-of-type {
    width: 35%;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 0.9rem;
    font-weight: bold;
    color: #535353;
    text-align: center; }
  .skills__table td {
    height: 30px;
    width: 65%;
    padding-right: 10px;
    font-size: 0.8rem;
    text-align: left; }
    @media all and (min-width: 768px) {
      .skills__table td {
        font-size: 0.9rem; } }

.skills__table--languages {
  margin: 0 auto;
  width: 100%; }
  .skills__table--languages td {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 60px; }
    .skills__table--languages td:hover {
      background: rgba(253, 255, 159, 0.5);
      font-size: 1.1rem; }
  .skills__table--languages td:first-of-type {
    margin-top: 15px;
    width: 80%;
    padding-left: 10px;
    letter-spacing: 1px;
    text-shadow: 0 0 1px #ffffff;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #32d269; }
    .skills__table--languages td:first-of-type:hover {
      background: none; }
  .skills__table--languages td:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5); }
    .skills__table--languages td:nth-child(even):hover {
      background: rgba(253, 255, 159, 0.5);
      font-size: 1.1rem; }
    .skills__table--languages td:nth-child(even) .icon--languages {
      color: #157FFB; }

.languages--flag {
  position: absolute;
  top: 60px;
  left: -28px;
  border: 1px solid #c0d0c4;
  border-radius: 50%;
  background: white;
  padding: 5px; }
  @media all and (min-width: 768px) {
    .languages--flag {
      left: -35px; } }

.icon--languages {
  position: absolute;
  left: 10px;
  color: #4681d0; }

.otherSkills__outer--other {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px; }

.skills__table--other {
  margin-bottom: 30px; }
  .skills__table--other td {
    height: 40px;
    width: auto; }
    .skills__table--other td:first-of-type {
      width: 250px;
      padding-left: 5px; }
  .skills__table--other tr {
    line-height: 40px; }
    .skills__table--other tr:hover {
      background: rgba(253, 255, 159, 0.5);
      font-size: 1rem; }
  .skills__table--other tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5); }
    .skills__table--other tr:nth-child(even):hover {
      background: rgba(253, 255, 159, 0.5);
      font-size: 1rem; }
  .skills__table--other thead tr:hover {
    background: none; }

.otherSkills__outer--design {
  margin-top: -60px;
  margin-bottom: 50px; }

.skills__design {
  margin: 15px auto; }

.skills__design--samples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; }

.design__sample {
  border: 3px solid rgba(255, 255, 255, 0.5);
  height: 120px;
  width: 28vw;
  cursor: pointer; }
  @media all and (min-width: 768px) {
    .design__sample {
      width: 20vw; } }
  .design__sample:hover {
    border: 3px solid #ebe101; }

.sample01 {
  background-image: url("https://pre00.deviantart.net/f5fe/th/pre/f/2018/065/a/2/rio_de_janeiro__um_retrato_da_violencia_by_annabranco-dc53j1i.jpg");
  background-size: cover; }

.sample02 {
  background-image: url("https://img00.deviantart.net/9fb7/i/2018/069/2/c/recuerda_siempre_mirar_el_color_de_las_banderas_by_annabranco-dc5gv8e.jpg");
  background-size: cover; }

.sample03 {
  background-image: url("https://pre00.deviantart.net/3afa/th/pre/i/2018/069/e/3/basic_english_by_annabranco-dc5go6q.jpg");
  background-size: cover; }

.sample04 {
  background-image: url("https://pre00.deviantart.net/6e8f/th/pre/f/2018/245/e/8/violencia1_en_by_annabranco-dclta8q.jpg");
  background-size: cover; }

.sample05 {
  background-image: url("https://pre00.deviantart.net/9f40/th/pre/f/2018/065/1/7/terremoto_en_mexico_19_09_17_by_alvarobranco_dbo6p_by_annabranco-dc53k8f.jpg");
  background-size: cover; }

.sample06 {
  background-image: url("https://pre00.deviantart.net/d51e/th/pre/i/2018/069/5/b/european_map__arabic__by_annabranco-dc5gve5.jpg");
  background-size: cover; }

.error-boundary__title {
  margin-left: 0;
  width: auto;
  font-family: "Corben", cursive;
  font-size: 2rem;
  text-align: left; }

.error-boundary__notify--wrapper {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw; }

.error-boundary__sorry-msg {
  margin: 0 0 20px;
  width: 80%;
  font-style: italic;
  font-family: "Corben", cursive;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #4681d0;
  text-align: left; }

.error-boundary__notify-button {
  position: relative;
  right: 0;
  margin: 4px 0 0 5px;
  font-family: "Acme", sans-serif;
  font-size: 1.3rem;
  color: #212121; }

.error-boundary__notify-button--text {
  display: inline;
  margin-left: 15px;
  vertical-align: middle;
  text-shadow: 0 0 1px #212121;
  font-size: 2rem; }

.hidden {
  display: none; }

.hide {
  visibility: hidden; }

.fullScreen {
  height: 100vh;
  padding: 60px; }

.with-top-margin {
  margin-top: 40px; }
