.developer__projects--thumbnails-checkbox {
	text-align: center;
	width     : 100%;
}

.developer__projects-checkbox {
	margin: 0 10px;
}

.projects__list {
	display              : grid;
	grid-template-columns: 300px;
	grid-template-rows   : 225px;
	grid-gap             : 30px 20px;
	margin               : 30px 20px 20px;
	height               : 210px;
	overflow             : hidden;

	@media all and (min-width: 768px) {
		grid-template-columns: 300px 300px;
	}
}

.project__item {
	height: auto;
}

.project__title {
	margin     : 10px 0;
	font-family: $font__title;
	font-weight: bold;
	font-size  : 1.3rem;
	color      : $blue--dark;
}

.project__title-icon {
	color  : $black;
	opacity: 0.4;
}

.project__thumbnail {
	margin-top: -60px;
	border    : 1px solid $black;
	width     : 100%;

	@media all and (min-width: 768px) {
		margin-top: 10px;
	}
}

.project__description {
	margin-bottom: 20px;
	text-align   : justify;
	line-height  : 1.4;
}

.project__url-a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.project__repo--icon {
	vertical-align: middle;
	font-size     : 1.3rem;
	margin-right  : 10px;
	color         : $black;
	opacity       : 0.4;
}

.project__repo {
	&:last-of-type {
		margin-bottom: 40px;
	}
}

.project__seeMore {
	margin-bottom: 40px;
	opacity      : 0.5;
}

.project__seeMore-text {
	vertical-align: super;
	text-align    : center;
	font-size     : 0.8rem;
}

.icon--more {
	margin   : -20px 5px 0;
	font-size: 2rem;
}
