.scrollArea__container {
  height   : 100vh;
  overflow  : scroll;

  & .languageModalIsVisible {
    overflow-y : hidden;
  }
}

.images {
  position              : relative;
  background-position   : center;
  background-size       : cover;
  background-repeat     : no-repeat;
  background-attachment : fixed;
  height                : 100vh;

  &:last-child {
    margin : 0;
  }
}

.innertext {
  position        : absolute;
  top             : 40%;
  left            : 35%;
  opacity         : 0;
  transform       : translate(-50%, -50%);
  display         : flex;
  justify-content : center;
  align-items     : center;
  border-radius   : 20px;
  background      : rgba($blue--dark, 0.7);
  min-height      : 60px;
  height          : auto;
  width           : 400px;
  font-family     : $font__subtitle;
  font-size       : 1.6rem;
  line-height     : 60px;
  color           : $white;
}

.innertext--p {
  text-align : center;
}

.animateIn {
  transform                 : scale(0);
  animation-name            : comeIn;
  animation-duration        : 0.5s;
  animation-timing-function : ease-in;
  animation-iteration-count : 1;
  animation-fill-mode        : forwards;
}

.animateOut {
  transform                 : scale(1);
  animation-name            : comeOut;
  animation-duration        : 0.2s;
  animation-timing-function : ease-in;
  animation-iteration-count : 1;
  animation-fill-mode        : forwards;
}

@keyframes comeIn {
  from {
    opacity   : 0;
    transform : scale(0.6);
  }

  to {
    opacity   : 1;
    transform : scale(1);
  }
}

@keyframes comeOut {
  from {
    opacity   : 1;
    transform : scale(1);
  }

  to {
    opacity   : 0;
    transform : scale(0.6);
  }
}

.scrollArea__horizontal {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 300vw;
}
