.innertext--between {
	z-index         : 3;
	display         : flex;
	align-items     : flex-start;
	justify-content : center;
	height          : 60px;
	width           : 100vw;
	padding-top     : 15px;
	background-image: linear-gradient(rgba($white, 0.9),$gray-normal);
	font-family     : $font__title;
	font-size       : 2rem;
	color           : $black;
	box-shadow      : 0 5px 30px 0 rgba($gray-dark, 0.8);

	&:last-child {
		height: 100px;
	}
}
