.section__formation {
	position            : relative;
	background-image    : linear-gradient(
		rgba(rgb(230, 239, 251), 0.98),
		rgba(rgb(230, 239, 251), 0.93),
		rgba(rgb(189, 214, 246), 0.98)
		),
		url('https://raw.githubusercontent.com/annabranco/my-profile/master/src/images/bg/sea.gif');
	background-position : center;
	height              : 100vh;
}

.formation__verticalBar {
	position: absolute;
	left: 10%;
	border-right : 5px solid rgba($blue--light, 0.3);
	height       : 90vh;
	width           : 0;
}

.formation__outer {
	display         : flex;
	flex-direction: column;
	justify-content : flex-start;
	align-items     : flex-end;
	margin          : 0 auto;
	height          : auto;
	width           : 80vw;
}

.formation__inner {
	height : auto;
	width: 100%;
}

.formation__date-wrapper {
	margin-left : -80px;
	width        : 80px;
}

.formation__inner--year {
	font-family  : $font__title;
	font-size    : 1.2em;
	color        : $red--dark;
	text-align   : center;
}



.formation__inner--horizontalBar,
.formation__inner--year {
	height : 130px;
}

.formation__horizontarBar-adalab,
.formation__horizontarBar-ir,
.formation__horizontarBar-master,
.formation__horizontarBar-psy {
	display    : inline-block;
	border-top : 5px solid rgba($blue--light, 0.3);
}

.formation__horizontarBar-psy {
	width : 20px;

	@media all and (min-width: 768px) {
		width      : 0;
		transition : width ease 2s;

		&.comeIn {
			width : 15vw;
		}
	}
}

.formation__horizontarBar-ir {
	width : 20px;

	@media all and (min-width: 768px) {
		width      : 0;
		transition : width ease 2s;

		&.comeIn {
			width : 30vw;
		}
	}
}

.formation__horizontarBar-master {
	width : 20px;

	@media all and (min-width: 768px) {
		width      : 0;
		transition : width ease 2s;

		&.comeIn {
			width : 45vw;
		}
	}
}

.formation__horizontarBar-adalab {
	width : 20px;

	@media all and (min-width: 768px) {
		width      : 0;
		transition : width ease 2s;

		&.comeIn {
			width : 60vw;
		}
	}
}

.formation__title {
	display     : inline;
	margin-left : 20px;
	font-family : $font__title-alt;
	font-size   : 1.4em;
	color       : $blue--dark;

	&:hover {
		letter-spacing : 0.1rem;
		color          : $yellow--dark;
	}
}

.formation__title-adalab,
.formation__title-ir,
.formation__title-master,
.formation__title-psy {

	@media all and (min-width: 768px) {
		opacity    : 0;
		transition : opacity ease 2s;

		&.comeIn {
			opacity : 1;
		}
	}
}

.formation__details {
	//visibility : hidden;
	margin-left : 10px;
	font-family : $font__subtitle;
	font-size   : 1rem;
}

.formation__details-ir,
.formation__details-master,
.formation__details-psy {

	@media all and (min-width: 768px) {
		opacity    : 0;
		transition : opacity ease 2s;

		&.comeIn {
			opacity : 1;
		}
	}
}

.formation__flag {
	margin-left    : 5px;
	vertical-align : middle;
}
