.header__outer {
	z-index          : 2;
	position         : fixed;
	top              : 0;
	left             : 0;
	display          : flex;
	justify-content  : space-around;
	align-items      : center;
	flex-wrap         : wrap;
	background-image : linear-gradient(#afa5b9,rgba(#ffffff, 0.8));
	height           : 40px;
	width            : 100vw;
	padding          : 0 80px;

	@media all and (min-width: 500px) {
		flex-wrap : nowrap;
	}
}

.header__inner {
	min-width  : 250px;
	text-align : center;
}

.header__inner--languages {
	order  : 3;
	height : 20px;
	@media all and (min-width: 500px) {
		order : 1;
	}
}

.header__inner--title {
	order  : 1;
	height : 20px;
	@media all and (min-width: 500px) {
		order : 2;
	}
}

.header__inner--version {
	order     : 2;
	position  : fixed;
	bottom    : 0;
	height    : 20px;
	font-size : 0.7rem;

	@media all and (min-width: 500px) {
		order     : 3;
		position  : static;
		font-size : 1rem;
	}
}

.header__flags {
	opacity : 0.3;
	display : inline;
	margin  : 0 10px;
	cursor  : pointer;
}

.header__flags--active {
	opacity : 1;
	cursor  : default;
}

.header__text {
	font-family : $font__title;
}

.header__text-contact {
	font-family : $font__subtitle;
	font-weight : bold;
}
